<!DOCTYPE html>
<html>
<head>
    <title>Добавление sim-card</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление sim-card</h1>
     <form method="POST">
        <label>Оператор</label><br>
        <input name="operator" class="field"/><br><br>
        <label>Абонентский номер</label><br>
        <input name="number"  class="field"  /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку пользователей</a>
</body>
<html>