<!DOCTYPE html>
<html>
<head>
    <title>Редактирование sim-card</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Редактирование sim-card</h1>
     <form action="/edit" method="POST">
        <input type="hidden" name="id" value="{{sim.id}}" />
        <label>Оператор</label><br>
        <input name="operator" value="{{sim.operator}}"  class="field" /><br><br>
        <label>Абонентский номер</label><br>
        <input name="number"  value="{{sim.number}}"    class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку sim-cards</a>
</body>
<html>